.title {
  width: 100vw;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 50px 50px;
  padding: 50px 50px;
  height: 500px;
  width: 500px;
  background-color: lightblue;
  font: white;
}

.reset {
  margin: 20px auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.dt {
  border: 1px solid black;
  padding: 15px 20px;
}
